@font-face { font-family: KCThumper; src: url('./assets/KCThumper.otf'); } 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KCThumper';
    
    
}

html{
    scroll-behavior: smooth;
    height: 100%;
    max-height: 100vh;
   

   
    
}


.main__name{
    font-family: "Great Vibes";
    font-size: 52px;
    animation: scaled 800ms 800ms backwards;
    
}
.click {
    cursor: pointer;
    transition: all 300ms ease;

}
.nocursor{
    cursor: not-allowed;
}
.click:hover {
    transform: scale(1.1);
    color: white;
    font-size: 18px;
    
}

.youtube:hover {
    transform: scale(1.1);
    color: #ff0000;
    font-size: 18px;
    
}

.facebook:hover {
    transform: scale(1.1);
    color: #4267B2;
    font-size: 18px;
    
}

.instagram:hover {
    transform: scale(1.1);
    color: #C13584;
    font-size: 18px;
    
}

.spotify:hover {
    transform: scale(1.1);
    color: #1DB954;
    font-size: 18px;
    
}




.click:active{
    transform: scale(0.8);
    font-size: 14px;
}


.container {
    padding: 50px 0;
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    color:black;
    
}

section {
    position: relative;
    overflow: hidden;
}

section .wave {
    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./assets/waves.png');
    background-size: 1000px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
   
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
    text-decoration: none;
}

.logo {
    font-size: 32px;
    
}

.orange {
    color: black;
    letter-spacing: 2px;
}

.border-box {
    border: 2px solid #fff;
    padding: 10px;
    background: transparent;
    
}

/*::-webkit-scrollbar{
    width: 8px;
    background: white;
    
}
::-webkit-scrollbar-thumb{
    background-color: #df6f39;
    border-radius: 10px;
    border: 1px solid black;
}
*/
.underline{
    text-decoration: underline;
    text-underline-offset: 4px;
}
/*

LANDING PAGE
#ff8d2c
*/

#landing-page {
    min-height: 100vh;
    
   
    
    
}

#landing-page::before {    
    content: "";
    background-image: url("./assets/quantum-gradient.svg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    animation: background-disco 10s 10s infinite;
}

@keyframes background-disco{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.4;
    }
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1500px;
    
    
}

@keyframes scaled {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1);
    }
}

.header__title {
    font-size: 142px;
    letter-spacing: 12px;
    
}




.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}





.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    animation: scaled 1200ms 1200ms backwards;
}

.header__text{
    font-weight: 700;
    font-size: 16px;
    max-width: 500px;
    line-height: 1;
    padding: 0 12px;
    
    
    
    
    
    
    
}

.download__btn {
    padding: 20px;
    font-weight: 800;
    font-size: 24px;
}

.header__socials {
    display: flex;
    justify-content: center;
    animation: scaled 1400ms 1400ms backwards;
    z-index: 9999;
    padding-top: 24px;
   
    
}

.header__social {
    margin: 0 18px;
    font-size: 20px;
    z-index: 9999;
    
}

.header__container{
    padding: 20px 0;
}
.playlist{
    margin: 8px 0;
}
.show{
    letter-spacing: 5px;
    font-size: 24px;
    text-align: center;
}




/*

NAVIGATION 

*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    
    
}

.nav__links{
    display: flex;
}

.nav__link{
    margin: 0 12px;
    font-weight: 600;
}

.nav__socials {
    display: flex;
    
}

.nav__social {
    margin: 12px 20px;
    font-size: 20px;
}

.scroll-icon{
    background-color: #ff8d2c;
    position:absolute;
    color: white;
    font-size: 18px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 49%;
    z-index: 1001;
    cursor: pointer;
    animation: scroll 800ms infinite alternate-reverse;
    text-align: center;
    
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }

}


/*

ALBUMS 

*/

#songs {
    background-color: #3B9CC0;
}

.songs__content {
    display: flex;
    justify-content: center;
}

.songs {
    display: flex;
    flex-wrap: wrap;
    
}

.song {
    width: calc(100%/4);
    padding: 24px;
    
    
}

.song__img--wrapper {
    overflow: hidden;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.song__img {
    max-height: 380px;
    transition: all 300ms ease;
    display: flex;
    
    
}

.song__background {
    background-color: #242424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.song:hover .song__img{
    background-color: #242424;
    z-index: 10;
    filter: blur(2px);
    
   
}

.song:hover .song__background{
    opacity: 1;

}

@media (max-width: 768px) {
    .header__img{
        width: 275px;
    }
    .click:hover{
        transform: none;
        color: #fff;
        font-size:none;
    }
    .click:active{
        transform: none;
        font-size: none;
    }
    
    section .wave{
        transform:translateY(50%);
    }
    .header__social {
        margin: 12px 12px;
        font-size: 16px;
    }
    .header__text{
        font-size: 12px;
    }
    .playlist{
        padding: 2px 0;
    }
}

@media(max-height:600px){
    section .wave{
        transform:translateY(50%);
    }
}
