@font-face { font-family: KCThumper; src: url('./assets/KCThumper.otf'); } 
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}

html{
    scroll-behavior: smooth;
    height: 100%;

   
    
}

.click {
    cursor: pointer;
    transition: all 300ms ease;

}
.nocursor{
    cursor: not-allowed;
}
.click:hover {
    transform: scale(1.1);
    color: #3B9CC0;
    font-size: 18px;
    
}

.click:active{
    transform: scale(0.8);
    font-size: 14px;
}


.container {
    padding: 50px 0;
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    color: white;
    
}

section {
    position: relative;
    overflow: hidden;
}

section .wave {
    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./assets/waves.png');
    background-size: 1000px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
   
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
    text-decoration: none;
}

.logo {
    font-size: 32px;
    
}

.orange {
    color: #fff;
    letter-spacing: 2px;
}

.border-box {
    border: 2px solid #fff;
    padding: 10px;
    background: transparent;
    
}

/* ::-webkit-scrollbar{
    width: 8px;
    background: white;
    
}
::-webkit-scrollbar-thumb{
    background-color: #df6f39;
    border-radius: 10px;
    border: 1px solid black;
} */

.underline{
    text-decoration: underline;
    text-underline-offset: 3px;
}
/*

LANDING PAGE
#ff8d2c
*/

#landing-page {
    min-height: 100vh;
    background: radial-gradient(orange, #ff8d2c);
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1500px;
    
    
}

@keyframes scaled {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1);
    }
}

.header__title {
    font-size: 142px;
    letter-spacing: 12px;
    
}

.header__img {
    width: 500px;
    object-fit: contain;
    animation: scaled 800ms 800ms backwards;
    
}


.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "KCThumper" !important;
    
    
}





.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    animation: scaled 1200ms 1200ms backwards;
}

.header__text{
    font-weight: 700;
    font-size: 16px;
    max-width: 500px;
    line-height: 1;
    padding: 0 12px;
    
    
    
    
    
    
    
}

.download__btn {
    padding: 20px;
    font-weight: 800;
    font-size: 24px;
}

.header__socials {
    display: flex;
    justify-content: center;
    animation: scaled 1400ms 1400ms backwards;
    z-index: 9999;
    padding-top: 24px;
   
    
}

.header__social {
    margin: 0 18px;
    font-size: 20px;
    z-index: 9999;
    
}

.header__container{
    padding: 20px 0;
}
.playlist{
    margin: 8px 0;
}
.show{
    letter-spacing: 5px;
    font-size: 24px;
    text-align: center;
}




/*

NAVIGATION 

*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    
    
}

.nav__links{
    display: flex;
}

.nav__link{
    margin: 0 12px;
    font-weight: 600;
}

.nav__socials {
    display: flex;
    
}

.nav__social {
    margin: 12px 20px;
    font-size: 20px;
}

.scroll-icon{
    background-color: #ff8d2c;
    position:absolute;
    color: white;
    font-size: 18px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 49%;
    z-index: 1001;
    cursor: pointer;
    animation: scroll 800ms infinite alternate-reverse;
    text-align: center;
    
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }

}

/*

WORDLE

*/

body{
    background-color: #030303;
    height: 100%;
    position: relative;
   
    
    
}
#container{
    display: flex;
    justify-content: center;
    align-items: space-between;
    overflow-y: auto;
    height: 100%;
  
    
}
.fireworks-container{
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 100;
}
.wordleText{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Poppins";
    color: white;
}
#wordle h1{
    font-size: 32px;
    letter-spacing: 1px;
}

.header__Text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#wordle{
    background: radial-gradient(orange, #ff8d2c);
    height: 100%;
    position: relative;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    
    
    
   
    
    
}


#board__container{
    justify-self: center;
}
#game{
    width: 100%;
    
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


#game header{
    padding: 4px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#board__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.wordle__logo{
    max-width: 300px;
    width: 100%;
    object-fit: cover;
    
}

#board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    
    
}

.square{
    border: 2px solid #fff;
    
    min-width: 62px;
    min-height: 62px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Poppins",  Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard__row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    max-width: 500px;
}

#keyboard__container{
    padding: 10px;

    justify-self: center;
    

}

.keyboard__row button{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: #fff;
    color: #030303;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard__row button.wide__button{
    flex-grow: 1.5;
}
.spacer__half{
    flex-grow: 0.5;
}


#game .fa-solid{
    cursor: pointer;
    font-size: 32px;
    color: white;
    align-self: center;
    cursor: pointer;
    z-index: 1000;
    
    
    
}
.fa-circle-question{
    position: absolute;
    right: 10px;
}

#popUp{
    position:absolute;
    display: flex ;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    align-self: start;
    max-width: 400px;
    width: 100%;
    height: 400px;
    z-index: 1000000000;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.4)
   
}

#popUp p{
    color:  rgb(219, 106, 0);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

#popUp h1{
    font-size: 28px;
    color: rgb(219, 106, 0);
}

.popUp__top{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
   
}
.popUp__middle{
    
    width: 80%;
    margin-top: 50px;
}

#popUp .fa-solid{
    color: rgb(219, 106, 0);
    cursor: pointer;
    font-size: 24px;

}

.popUp__Text{
    color: white;
}

#board input{
    height: 62px;
    width: 62px;
    font-size: 12px;
    color: white;
    background-color: #121213;
    border: none;
}

span{
    animation: blinker 1s linear infinite;
}

.close__wrapper{
    position: absolute;
    max-width: 50px;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 5px;
    right: 5px;
    cursor: pointer;
    
    z-index: 999999999;
}
#congratulations__wrapper{
    position: absolute;
    z-index: 99999999;
   max-width: 400px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.4);
    margin-top: 80px;
    padding: 20px;
    border-radius: 20px;
    animation: opacity 3800ms 3800ms backwards;
}

.congratulations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    
}

#congratulations__wrapper h1{
    font-size: 20px !important; 
    color: rgb(219, 106, 0);

    font-weight: 600;
}


@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes blinker {
    50%{
        opacity: 0;
    }
}

@media (max-width: 1000px){
 
}

@media (max-width:768px) {
    #game {
        height: 100%;
    }

    #congratulations__wrapper h1{
        font-size: 16px !important;
    }

    

    .square{
        min-height: 55px;
        min-width: 55px;
        font-size: 1.5rem;
    }

    #game h1{
        font-size: 24px;
    }

    .keyboard__row button{
        height: 45px;
    }

   
    
}

@media (max-width: 480px) {
    .square{
        min-height: 40px;
        min-width: 40px;
        font-size: 1.2rem;
    }
}


/*

ALBUMS 

*/

#songs {
    background-color: #3B9CC0;
}

.songs__content {
    display: flex;
    justify-content: center;
}

.songs {
    display: flex;
    flex-wrap: wrap;
    
}

.song {
    width: calc(100%/4);
    padding: 24px;
    
    
}

.song__img--wrapper {
    overflow: hidden;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.song__img {
    max-height: 380px;
    transition: all 300ms ease;
    display: flex;
    
    
}

.song__background {
    background-color: #242424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.song:hover .song__img{
    background-color: #242424;
    z-index: 10;
    filter: blur(2px);
    
   
}

.song:hover .song__background{
    opacity: 1;

}

@media (max-width: 768px) {
    .header__img{
        width: 275px;
    }
    .click:hover{
        transform: none;
        color: #fff;
        font-size:none;
    }
    .click:active{
        transform: none;
        font-size: none;
    }
    
    section .wave{
        transform:translateY(50%);
    }
    .header__social {
        margin: 12px 12px;
        font-size: 16px;
    }
    .header__text{
        font-size: 12px;
    }
    .playlist{
        padding: 2px 0;
    }
}

@media(max-height:600px){
    section .wave{
        transform:translateY(50%);
    }
}
